<h3>Welcome to the MicroBlog!</h3>

<p>Hello {{ user.fullname }}! You have registered in the MicroBlog!</p>

<p>For login, go to <a href="{{ url('security_login') }}">login page</a>.</p>

<p>Thank you for registration!</p>
